<h1><b>Wildlife Tracker</b></h1>

<% if @sighting != nil %>
  <% if @sighting.errors.any? %>
    <h4>Please fix these errors:</h4>
    <ul>
      <% @sighting.errors.full_messages.each do |sighting| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<h3>Enter the following information about your sighting:</h3>
<form action="/sightings" method="post">
  <label for "sighting_date">Date of Sighting&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
  <input id="sighting_date" name="sighting[date]" type="date" value="<%= @today %>">
  <br><label for "sighting_species">Species Sighted&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
  <input id="sighting_species" name="sighting[specie]" type="text" size="23">
  <label for "sighting_subspecies">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSubspecies Sighted (if known)</label>
  <input id="sighting_subspecies" name="sighting[subspecies]" type="text">
  <br><label for "sighting_latitude">Latitude of Sighting</label>
  <input id="sighting_latidude" name="sighting[latitude]" type="number" value="0.0">
  <label for "sighting_longitude">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspLongitude of
            Sighting&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
  <input id="sighting_longitude" name="sighting[longitude]" type="number" value="0.0">
  <br><br><button>Record Sighting</button>
</form>

