<h1><b>Wildlife Tracker</b></h1>

<h3>Sighting on <i><%= @sighting.date %></i> of <i><%= @sighting.species.name %>
      <%= @sighting.subspecies %></i> successfully recorded</h3><br>

<h3><a href="/sightings">Click here</a> to record another sighting</h3>
