<h1><b>Wildlife Tracker</b>&nbsp&nbsp&nbsp&nbsp<%= image_tag('wildlife_tracker.png') %></h1>

<h3>Species <i><%= @specie.name %></i> successfully added</h3>
<br>
<h4><a href="/sightings">Record a sighting</a></h4>
<h4><a href="/sightings/all">See and maintain the list of sightings</a></h4>
<h4><a href="/species/new">Add another new species</a></h4>
<h4><a href="/species">See and maintain the list of species to be sighted</a></h4>
<h4><a href="/regions/new">Add a new sighting region</a></h4>
<h4><a href="/regions">See and maintain the list of sighting regions</a></h4>

